@model IEnumerable<KillerAppMemePlatform1.Models.PostModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>9gag 2.0</h1>
    <p class="lead">9gag. But better.</p>
</div>

<div class="row">
    <table class="table">


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FilePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { item.PostId }) |
                    @Html.ActionLink("Details", "Details", new { item.PostId }) |
                    @Html.ActionLink("Delete", "Delete", new { item.PostId })
                </td>
            </tr>
        }

    </table>
</div>