@model IEnumerable<KillerAppMemePlatform1.Logic.Interfaces.PostModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>9gag 2.0</h1>
    <p class="lead">9gag. But better.</p>
</div>

<div class="row">
    <table class="table">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.PostId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusId)
            </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.PostId)
                </td>*@
                <td>
                    <img src="@Url.Content(item.FilePath)" width="700" height="700">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.AccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusId)
                </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { item.PostId }) |
                    @Html.ActionLink("Details", "Details", new { item.PostId }) |
                    @Html.ActionLink("Delete", "Delete", new { item.PostId })
                </td>
            </tr>
        }

    </table>
</div>