@model IEnumerable<KillerAppMemePlatform1.Logic.Interfaces.PostModel>

@{
    ViewBag.Title = "Home Page";
}

<link href="~/Styles/styles.css" rel="stylesheet" type="text/css" />
<div class="jumbotron">
    <h1>9gag 2.0</h1>
    <p class="lead">9gag. But better.</p>
</div>

<script>
    var name = 'Sander';
    console.log(name);
</script>

<div class="row" id="row">
    

    @foreach (var item in Model)
    {
        
        <dl class="dl-horizontal">

            <dd id="postheader">
                @Html.DisplayFor(modelItem => item.Title)
            </dd>

            <dd>
                <a href="@Url.Action("PostDetails","Post", new { id = item.PostId })">
                    <img id="image" src="@Url.Content(item.FilePath)" >
                </a>
            </dd>

            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { item.PostId }) |
                    @Html.ActionLink("Details", "Details", new { item.PostId }) |
                    @Html.ActionLink("Delete", "Delete", new { item.PostId })
                </td>*@
            @*</tr>*@


            @*</table>*@
        </dl>
    }
</div>