@model KillerAppMemePlatform1.Logic.Interfaces.PostModel

@{
    ViewBag.Title = "PostDetails";
}

<div class="jumbotron">
    <h1>Post details</h1>
</div>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>

        <dd>
            <a href="@Url.Action("PostDetails","Post", new { id = Model.PostId })">
                <img src="@Url.Content(Model.FilePath)" width="700" height="700">
            </a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.AccountId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusId)
        </dd>*@

    </dl>
</div>
