@model IEnumerable<KillerAppMemePlatform1.Logic.Interfaces.PostModel>

@{
    ViewBag.Title = "Trending";
}

<link href="~/Styles/styles.css" rel="stylesheet" type="text/css" />
<div class="jumbotron">
    <h1>Trending</h1>
    <p class="lead">Trending</p>
</div>

<div class="row">


    @*<th>
            @Html.DisplayNameFor(model => model.PostId)
        </th>*@
    @*<th>
            @Html.DisplayNameFor(model => model.FilePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>*@
    @*<th>
            @Html.DisplayNameFor(model => model.AccountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusId)
        </th>*@



    @foreach (var item in Model)
    {

        @*<td>
                @Html.DisplayFor(modelItem => item.PostId)
            </td>*@
    <dl class="dl-horizontal">

        <dd>
            @Html.DisplayFor(modelItem => item.Title)
        </dd>

        <dd>
            <a href="@Url.Action("PostDetails","Post", new { id = item.PostId })">
                <img id="image" src="@Url.Content(item.FilePath)" >
            </a>
        </dd>

        @*<td>
            @Html.DisplayFor(modelItem => item.AccountId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusId)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { item.PostId }) |
            @Html.ActionLink("Details", "Details", new { item.PostId }) |
            @Html.ActionLink("Delete", "Delete", new { item.PostId })
        </td>*@
    </dl>
    }
</div>
